.container .row h1 {
  color: navy; }

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -230px 53.33333px #ff007b, 67px -328.66667px #00ff40, 198px -368.66667px #ff3c00, -213px 4.33333px #2f00ff, -173px -233.66667px #d9ff00, 7px -81.66667px #bf00ff, -229px -151.66667px #ff0084, -138px -157.66667px #3300ff, 146px -142.66667px #c400ff, 187px 60.33333px #ffb700, -113px -387.66667px #f200ff, 240px -207.66667px #ffb700, -132px -6.66667px #e6ff00, 161px 83.33333px #00a2ff, -175px -276.66667px #0051ff, 134px -158.66667px #00ff15, 182px -323.66667px #ff00d9, -160px -85.66667px #ff7b00, 77px -272.66667px #00ff1e, -216px -129.66667px #ddff00, -234px -23.66667px #eaff00, -113px 65.33333px #d0ff00, 28px -244.66667px #0033ff, 130px -101.66667px #0084ff, 124px -74.66667px #ff00c8, 142px -312.66667px #00ff55, -127px 72.33333px #00d0ff, 67px 83.33333px #00ffe1, 169px -414.66667px #ff001a, -137px -218.66667px #ff00cc, 100px 24.33333px #e6ff00, 82px -281.66667px #ffee00, -206px -41.66667px #00b7ff, -234px -392.66667px #ff00c4, -227px -279.66667px #59ff00, -43px -46.66667px #00b7ff, 201px -191.66667px #00fbff, 119px 31.33333px #5eff00, 40px 68.33333px #9100ff, -107px -118.66667px #0040ff, 150px -62.66667px #00ffbb, -91px 48.33333px #22ff00, 161px -389.66667px #0044ff, 20px 39.33333px #00ff09, 209px -37.66667px #d9ff00, 172px 47.33333px #44ff00, -158px -54.66667px #4800ff, -205px -347.66667px #ff5500, 107px -145.66667px #00ff3c, -151px -16.66667px #ff00aa, 165px -236.66667px #09ff00; } }

@-moz-keyframes bang {
  to {
    box-shadow: -230px 53.33333px #ff007b, 67px -328.66667px #00ff40, 198px -368.66667px #ff3c00, -213px 4.33333px #2f00ff, -173px -233.66667px #d9ff00, 7px -81.66667px #bf00ff, -229px -151.66667px #ff0084, -138px -157.66667px #3300ff, 146px -142.66667px #c400ff, 187px 60.33333px #ffb700, -113px -387.66667px #f200ff, 240px -207.66667px #ffb700, -132px -6.66667px #e6ff00, 161px 83.33333px #00a2ff, -175px -276.66667px #0051ff, 134px -158.66667px #00ff15, 182px -323.66667px #ff00d9, -160px -85.66667px #ff7b00, 77px -272.66667px #00ff1e, -216px -129.66667px #ddff00, -234px -23.66667px #eaff00, -113px 65.33333px #d0ff00, 28px -244.66667px #0033ff, 130px -101.66667px #0084ff, 124px -74.66667px #ff00c8, 142px -312.66667px #00ff55, -127px 72.33333px #00d0ff, 67px 83.33333px #00ffe1, 169px -414.66667px #ff001a, -137px -218.66667px #ff00cc, 100px 24.33333px #e6ff00, 82px -281.66667px #ffee00, -206px -41.66667px #00b7ff, -234px -392.66667px #ff00c4, -227px -279.66667px #59ff00, -43px -46.66667px #00b7ff, 201px -191.66667px #00fbff, 119px 31.33333px #5eff00, 40px 68.33333px #9100ff, -107px -118.66667px #0040ff, 150px -62.66667px #00ffbb, -91px 48.33333px #22ff00, 161px -389.66667px #0044ff, 20px 39.33333px #00ff09, 209px -37.66667px #d9ff00, 172px 47.33333px #44ff00, -158px -54.66667px #4800ff, -205px -347.66667px #ff5500, 107px -145.66667px #00ff3c, -151px -16.66667px #ff00aa, 165px -236.66667px #09ff00; } }

@-o-keyframes bang {
  to {
    box-shadow: -230px 53.33333px #ff007b, 67px -328.66667px #00ff40, 198px -368.66667px #ff3c00, -213px 4.33333px #2f00ff, -173px -233.66667px #d9ff00, 7px -81.66667px #bf00ff, -229px -151.66667px #ff0084, -138px -157.66667px #3300ff, 146px -142.66667px #c400ff, 187px 60.33333px #ffb700, -113px -387.66667px #f200ff, 240px -207.66667px #ffb700, -132px -6.66667px #e6ff00, 161px 83.33333px #00a2ff, -175px -276.66667px #0051ff, 134px -158.66667px #00ff15, 182px -323.66667px #ff00d9, -160px -85.66667px #ff7b00, 77px -272.66667px #00ff1e, -216px -129.66667px #ddff00, -234px -23.66667px #eaff00, -113px 65.33333px #d0ff00, 28px -244.66667px #0033ff, 130px -101.66667px #0084ff, 124px -74.66667px #ff00c8, 142px -312.66667px #00ff55, -127px 72.33333px #00d0ff, 67px 83.33333px #00ffe1, 169px -414.66667px #ff001a, -137px -218.66667px #ff00cc, 100px 24.33333px #e6ff00, 82px -281.66667px #ffee00, -206px -41.66667px #00b7ff, -234px -392.66667px #ff00c4, -227px -279.66667px #59ff00, -43px -46.66667px #00b7ff, 201px -191.66667px #00fbff, 119px 31.33333px #5eff00, 40px 68.33333px #9100ff, -107px -118.66667px #0040ff, 150px -62.66667px #00ffbb, -91px 48.33333px #22ff00, 161px -389.66667px #0044ff, 20px 39.33333px #00ff09, 209px -37.66667px #d9ff00, 172px 47.33333px #44ff00, -158px -54.66667px #4800ff, -205px -347.66667px #ff5500, 107px -145.66667px #00ff3c, -151px -16.66667px #ff00aa, 165px -236.66667px #09ff00; } }

@-ms-keyframes bang {
  to {
    box-shadow: -230px 53.33333px #ff007b, 67px -328.66667px #00ff40, 198px -368.66667px #ff3c00, -213px 4.33333px #2f00ff, -173px -233.66667px #d9ff00, 7px -81.66667px #bf00ff, -229px -151.66667px #ff0084, -138px -157.66667px #3300ff, 146px -142.66667px #c400ff, 187px 60.33333px #ffb700, -113px -387.66667px #f200ff, 240px -207.66667px #ffb700, -132px -6.66667px #e6ff00, 161px 83.33333px #00a2ff, -175px -276.66667px #0051ff, 134px -158.66667px #00ff15, 182px -323.66667px #ff00d9, -160px -85.66667px #ff7b00, 77px -272.66667px #00ff1e, -216px -129.66667px #ddff00, -234px -23.66667px #eaff00, -113px 65.33333px #d0ff00, 28px -244.66667px #0033ff, 130px -101.66667px #0084ff, 124px -74.66667px #ff00c8, 142px -312.66667px #00ff55, -127px 72.33333px #00d0ff, 67px 83.33333px #00ffe1, 169px -414.66667px #ff001a, -137px -218.66667px #ff00cc, 100px 24.33333px #e6ff00, 82px -281.66667px #ffee00, -206px -41.66667px #00b7ff, -234px -392.66667px #ff00c4, -227px -279.66667px #59ff00, -43px -46.66667px #00b7ff, 201px -191.66667px #00fbff, 119px 31.33333px #5eff00, 40px 68.33333px #9100ff, -107px -118.66667px #0040ff, 150px -62.66667px #00ffbb, -91px 48.33333px #22ff00, 161px -389.66667px #0044ff, 20px 39.33333px #00ff09, 209px -37.66667px #d9ff00, 172px 47.33333px #44ff00, -158px -54.66667px #4800ff, -205px -347.66667px #ff5500, 107px -145.66667px #00ff3c, -151px -16.66667px #ff00aa, 165px -236.66667px #09ff00; } }

@keyframes bang {
  to {
    box-shadow: -230px 53.33333px #ff007b, 67px -328.66667px #00ff40, 198px -368.66667px #ff3c00, -213px 4.33333px #2f00ff, -173px -233.66667px #d9ff00, 7px -81.66667px #bf00ff, -229px -151.66667px #ff0084, -138px -157.66667px #3300ff, 146px -142.66667px #c400ff, 187px 60.33333px #ffb700, -113px -387.66667px #f200ff, 240px -207.66667px #ffb700, -132px -6.66667px #e6ff00, 161px 83.33333px #00a2ff, -175px -276.66667px #0051ff, 134px -158.66667px #00ff15, 182px -323.66667px #ff00d9, -160px -85.66667px #ff7b00, 77px -272.66667px #00ff1e, -216px -129.66667px #ddff00, -234px -23.66667px #eaff00, -113px 65.33333px #d0ff00, 28px -244.66667px #0033ff, 130px -101.66667px #0084ff, 124px -74.66667px #ff00c8, 142px -312.66667px #00ff55, -127px 72.33333px #00d0ff, 67px 83.33333px #00ffe1, 169px -414.66667px #ff001a, -137px -218.66667px #ff00cc, 100px 24.33333px #e6ff00, 82px -281.66667px #ffee00, -206px -41.66667px #00b7ff, -234px -392.66667px #ff00c4, -227px -279.66667px #59ff00, -43px -46.66667px #00b7ff, 201px -191.66667px #00fbff, 119px 31.33333px #5eff00, 40px 68.33333px #9100ff, -107px -118.66667px #0040ff, 150px -62.66667px #00ffbb, -91px 48.33333px #22ff00, 161px -389.66667px #0044ff, 20px 39.33333px #00ff09, 209px -37.66667px #d9ff00, 172px 47.33333px #44ff00, -158px -54.66667px #4800ff, -205px -347.66667px #ff5500, 107px -145.66667px #00ff3c, -151px -16.66667px #ff00aa, 165px -236.66667px #09ff00; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
