.container .row h1 {
  color: navy; }

body {
  margin: 0;
  padding: 0;
  background: #000; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 198px -329.66667px #ee00ff, 72px -48.66667px #ff1500, 10px -289.66667px #0009ff, 2px -283.66667px #ff0084, 178px -303.66667px #ff00d0, -21px 71.33333px #fff200, -49px -33.66667px #ff0073, 240px -15.66667px #ff0055, -163px -262.66667px #0084ff, -84px -91.66667px #00f7ff, 17px -70.66667px #95ff00, 219px -375.66667px #ff0004, -135px -304.66667px #00c4ff, -249px -241.66667px #ffea00, -237px -96.66667px #00ff5e, 46px -406.66667px #5500ff, 2px 25.33333px #ff0073, 23px -149.66667px #4000ff, -182px -303.66667px #ff00d0, 112px -269.66667px #3cff00, 104px -51.66667px #f200ff, 136px -372.66667px #a600ff, 214px -207.66667px #b300ff, -135px 23.33333px #00fffb, 195px -104.66667px #001aff, -197px -355.66667px #ffaa00, -171px -103.66667px #00f2ff, 125px -281.66667px #fffb00, 48px 7.33333px #ff7300, -179px -75.66667px #00a6ff, 174px -194.66667px #ff0040, -123px -27.66667px #ff0026, -170px -392.66667px #62ff00, -54px -274.66667px #bfff00, 122px -93.66667px #ff2200, 149px -323.66667px #2fff00, -180px 7.33333px #00e6ff, 165px -278.66667px #4400ff, -101px 74.33333px #ff00aa, -201px 20.33333px #ff00a2, 16px 34.33333px #000dff, -187px -27.66667px #6f00ff, 218px 5.33333px #55ff00, 164px 51.33333px #ffbf00, 62px -60.66667px #ff00fb, -226px 73.33333px #ff0095, -56px 59.33333px #00bbff, -214px -10.66667px #ff2200, -2px -182.66667px #00ff09, 105px -131.66667px #ff3300, -203px -209.66667px #ff001e; } }

@-moz-keyframes bang {
  to {
    box-shadow: 198px -329.66667px #ee00ff, 72px -48.66667px #ff1500, 10px -289.66667px #0009ff, 2px -283.66667px #ff0084, 178px -303.66667px #ff00d0, -21px 71.33333px #fff200, -49px -33.66667px #ff0073, 240px -15.66667px #ff0055, -163px -262.66667px #0084ff, -84px -91.66667px #00f7ff, 17px -70.66667px #95ff00, 219px -375.66667px #ff0004, -135px -304.66667px #00c4ff, -249px -241.66667px #ffea00, -237px -96.66667px #00ff5e, 46px -406.66667px #5500ff, 2px 25.33333px #ff0073, 23px -149.66667px #4000ff, -182px -303.66667px #ff00d0, 112px -269.66667px #3cff00, 104px -51.66667px #f200ff, 136px -372.66667px #a600ff, 214px -207.66667px #b300ff, -135px 23.33333px #00fffb, 195px -104.66667px #001aff, -197px -355.66667px #ffaa00, -171px -103.66667px #00f2ff, 125px -281.66667px #fffb00, 48px 7.33333px #ff7300, -179px -75.66667px #00a6ff, 174px -194.66667px #ff0040, -123px -27.66667px #ff0026, -170px -392.66667px #62ff00, -54px -274.66667px #bfff00, 122px -93.66667px #ff2200, 149px -323.66667px #2fff00, -180px 7.33333px #00e6ff, 165px -278.66667px #4400ff, -101px 74.33333px #ff00aa, -201px 20.33333px #ff00a2, 16px 34.33333px #000dff, -187px -27.66667px #6f00ff, 218px 5.33333px #55ff00, 164px 51.33333px #ffbf00, 62px -60.66667px #ff00fb, -226px 73.33333px #ff0095, -56px 59.33333px #00bbff, -214px -10.66667px #ff2200, -2px -182.66667px #00ff09, 105px -131.66667px #ff3300, -203px -209.66667px #ff001e; } }

@-o-keyframes bang {
  to {
    box-shadow: 198px -329.66667px #ee00ff, 72px -48.66667px #ff1500, 10px -289.66667px #0009ff, 2px -283.66667px #ff0084, 178px -303.66667px #ff00d0, -21px 71.33333px #fff200, -49px -33.66667px #ff0073, 240px -15.66667px #ff0055, -163px -262.66667px #0084ff, -84px -91.66667px #00f7ff, 17px -70.66667px #95ff00, 219px -375.66667px #ff0004, -135px -304.66667px #00c4ff, -249px -241.66667px #ffea00, -237px -96.66667px #00ff5e, 46px -406.66667px #5500ff, 2px 25.33333px #ff0073, 23px -149.66667px #4000ff, -182px -303.66667px #ff00d0, 112px -269.66667px #3cff00, 104px -51.66667px #f200ff, 136px -372.66667px #a600ff, 214px -207.66667px #b300ff, -135px 23.33333px #00fffb, 195px -104.66667px #001aff, -197px -355.66667px #ffaa00, -171px -103.66667px #00f2ff, 125px -281.66667px #fffb00, 48px 7.33333px #ff7300, -179px -75.66667px #00a6ff, 174px -194.66667px #ff0040, -123px -27.66667px #ff0026, -170px -392.66667px #62ff00, -54px -274.66667px #bfff00, 122px -93.66667px #ff2200, 149px -323.66667px #2fff00, -180px 7.33333px #00e6ff, 165px -278.66667px #4400ff, -101px 74.33333px #ff00aa, -201px 20.33333px #ff00a2, 16px 34.33333px #000dff, -187px -27.66667px #6f00ff, 218px 5.33333px #55ff00, 164px 51.33333px #ffbf00, 62px -60.66667px #ff00fb, -226px 73.33333px #ff0095, -56px 59.33333px #00bbff, -214px -10.66667px #ff2200, -2px -182.66667px #00ff09, 105px -131.66667px #ff3300, -203px -209.66667px #ff001e; } }

@-ms-keyframes bang {
  to {
    box-shadow: 198px -329.66667px #ee00ff, 72px -48.66667px #ff1500, 10px -289.66667px #0009ff, 2px -283.66667px #ff0084, 178px -303.66667px #ff00d0, -21px 71.33333px #fff200, -49px -33.66667px #ff0073, 240px -15.66667px #ff0055, -163px -262.66667px #0084ff, -84px -91.66667px #00f7ff, 17px -70.66667px #95ff00, 219px -375.66667px #ff0004, -135px -304.66667px #00c4ff, -249px -241.66667px #ffea00, -237px -96.66667px #00ff5e, 46px -406.66667px #5500ff, 2px 25.33333px #ff0073, 23px -149.66667px #4000ff, -182px -303.66667px #ff00d0, 112px -269.66667px #3cff00, 104px -51.66667px #f200ff, 136px -372.66667px #a600ff, 214px -207.66667px #b300ff, -135px 23.33333px #00fffb, 195px -104.66667px #001aff, -197px -355.66667px #ffaa00, -171px -103.66667px #00f2ff, 125px -281.66667px #fffb00, 48px 7.33333px #ff7300, -179px -75.66667px #00a6ff, 174px -194.66667px #ff0040, -123px -27.66667px #ff0026, -170px -392.66667px #62ff00, -54px -274.66667px #bfff00, 122px -93.66667px #ff2200, 149px -323.66667px #2fff00, -180px 7.33333px #00e6ff, 165px -278.66667px #4400ff, -101px 74.33333px #ff00aa, -201px 20.33333px #ff00a2, 16px 34.33333px #000dff, -187px -27.66667px #6f00ff, 218px 5.33333px #55ff00, 164px 51.33333px #ffbf00, 62px -60.66667px #ff00fb, -226px 73.33333px #ff0095, -56px 59.33333px #00bbff, -214px -10.66667px #ff2200, -2px -182.66667px #00ff09, 105px -131.66667px #ff3300, -203px -209.66667px #ff001e; } }

@keyframes bang {
  to {
    box-shadow: 198px -329.66667px #ee00ff, 72px -48.66667px #ff1500, 10px -289.66667px #0009ff, 2px -283.66667px #ff0084, 178px -303.66667px #ff00d0, -21px 71.33333px #fff200, -49px -33.66667px #ff0073, 240px -15.66667px #ff0055, -163px -262.66667px #0084ff, -84px -91.66667px #00f7ff, 17px -70.66667px #95ff00, 219px -375.66667px #ff0004, -135px -304.66667px #00c4ff, -249px -241.66667px #ffea00, -237px -96.66667px #00ff5e, 46px -406.66667px #5500ff, 2px 25.33333px #ff0073, 23px -149.66667px #4000ff, -182px -303.66667px #ff00d0, 112px -269.66667px #3cff00, 104px -51.66667px #f200ff, 136px -372.66667px #a600ff, 214px -207.66667px #b300ff, -135px 23.33333px #00fffb, 195px -104.66667px #001aff, -197px -355.66667px #ffaa00, -171px -103.66667px #00f2ff, 125px -281.66667px #fffb00, 48px 7.33333px #ff7300, -179px -75.66667px #00a6ff, 174px -194.66667px #ff0040, -123px -27.66667px #ff0026, -170px -392.66667px #62ff00, -54px -274.66667px #bfff00, 122px -93.66667px #ff2200, 149px -323.66667px #2fff00, -180px 7.33333px #00e6ff, 165px -278.66667px #4400ff, -101px 74.33333px #ff00aa, -201px 20.33333px #ff00a2, 16px 34.33333px #000dff, -187px -27.66667px #6f00ff, 218px 5.33333px #55ff00, 164px 51.33333px #ffbf00, 62px -60.66667px #ff00fb, -226px 73.33333px #ff0095, -56px 59.33333px #00bbff, -214px -10.66667px #ff2200, -2px -182.66667px #00ff09, 105px -131.66667px #ff3300, -203px -209.66667px #ff001e; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
